version: 1.0.{build}
branches:
  only:
  - master
configuration: Release
assembly_info:
  patch: true
  file: '**\ProductAssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
build:
  publish_nuget: true
  verbosity: minimal
deploy:
- provider: NuGet
  api_key:
    secure: t9gnOzMJGESwOqdD5Tfpv5hmGYPp4TixcGyUPukiO7+6b75pl0RiaABU75GaHQH5
  skip_symbols: true
  on:
    branch: master
    appveyor_repo_tag: true
notifications:
- provider: Email
  to:
  - mattias.nordqvist@spinit.se
  - carl@carl-berg.se
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false